.global-counter {
    display: flex;
    flex-direction: column;

    gap: 2rem;

    padding: .5rem 3rem;
    border: 3px solid;
    border-radius: 1.5rem;

    max-width: 750px;

    margin: 0 auto;
}