body {
    font-family: sans-serif;
}

input, button {
    outline: none;
    border: none;
    background: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    cursor: pointer;
}

button:disabled {
    opacity: .5;
    cursor: default;
    pointer-events: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}